# remove large files
vcs_proof_of_concept/activation_bulk_RNAseq/*.*
bin/monocle3/tests/testdata/cr2.0/outs/filtered_gene_bc_matrices/hg19/matrix.mtx
vcs_paclitaxel/scrnaseq/data/cellranger_outputGEO/*.*
vcs_nls/nls_scores/data/*.*
*.RData

# keep readme files
!*README.txt
